<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有书籍</title>
</head>
<body>
<table border="1">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>pub</th>
        <th>price</th>
        <th>market_price</th>
        <th>op</th>
    </tr>
    {% for book in all_book %}
        <tr>
            <td>{{ book.book_id }}</td>
            <td>{{ book.book_name }}</td>
            <td>{{ book.pub }}</td>
            <td>{{ book.book_price }}</td>
            <td>{{ book.book_market_price }}</td>
            <td>
                <a href="#">更新</a>
                <a href="#">删除</a>
            </td>
        </tr>
    {% endfor %}


</table>
</body>
</html>