{% extends "Tale/base.html" %}

{% block body %}


    <!--顶部图片-->
    {% block head_img %}
        <div style="background-image: url(/static/assets/images/header-2.jpg);" class="intro-hero section-overlay-dark">
            <div class="container-fluid">
                <div class="col-md-10 col-md-offset-1">

                    <!--作者头像-->
                    <img src="/media/{{ user.avatar }}" alt="Author image"
                         class="img-circle" width="100"/>
                    <h1 id="user_name">{{ user.username }}</h1>
                    <p>A basic blog layout.</p>
                </div>
            </div>
        </div>
    {% endblock %}
    {% csrf_token %}
    <!--正文部分-->
    {% block body_content %}
        <section class="section section-semi-white text-left">
            <div class="container-fluid">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">

                                    <!--头像下背景字-->
                                    <div class="section-head decoration-left"><span class="overlay">latest</span>


                                        <h2>{{ blog.title }}</h2>
                                        <p>{{ blog.theme }}</p>
                                        <hr/>
                                    </div>
                                </div>

                                <!--文章-->
                                <div id="reply_form">


                                </div>
                                <!--博客列表-->


                                <div class="col-md-12 margin-top"><a href="home-magazine.html" class="btn btn-primary">More
                                    posts</a></div>
                            </div>
                        </div>
                        <div class="col-md-4 small-screen-margin-top">
                            <div class="row">
                                <div class="col-md-12 widget-top-margin">
                                    <div class="widget">
                                        <form class="search-form">
                                            <input id="search" type="text" placeholder="Search" class="form-control"/><i
                                                class="icon ion-ios-search"></i>
                                        </form>
                                    </div>
                                </div>


                                <!--标签-->
                                <div class="col-md-12">
                                    <div class="widget">
                                        <h4>标签</h4>
                                        <ul class="tags-widget">
                                            {% if tag_list %}


                                                {% for tag in tag_list %}
                                                    <li
                                                            class="button-tag">
                                                        <a class="author_btn tags" name="tag" id="{{ tag.title }}"

                                                           href="javascript:;">{{ tag.title }}({{ tag.c }})</a>
                                                    </li>
                                                {% endfor %}
                                            {% else %}
                                                <li
                                                        class="button-tag">无
                                                </li>
                                            {% endif %}

                                        </ul>
                                    </div>
                                </div>

                                <!--分类-->
                                <div class="col-md-12">
                                    <div class="widget">
                                        <h4>分类</h4>
                                        <ul class="categories-widget">
                                            {% if cate_list %}
                                                {% for cate in cate_list %}
                                                    <li><a href="javascript:;" class="author_btn"
                                                           name="cate"
                                                           id="{{ cate.title }}">{{ cate.title }}({{ cate.c }})</a>
                                                    </li>
                                                {% endfor %}
                                            {% else %}
                                                <li
                                                        class="button-tag">无
                                                </li>
                                            {% endif %}

                                        </ul>
                                    </div>
                                </div>


                                <!--归档-->
                                <div class="col-md-12">
                                    <div class="widget">
                                        <h4>归档</h4>
                                        <ul class="categories-widget">
                                            {% if year_month %}
                                                {% for year in year_month %}
                                                    <li><a class="author_btn" id="{{ year.month|date:"Y-m" }} "
                                                           name="month"
                                                           href="javascript:;">
                                                        {{ year.month|date:"Y-m" }}({{ year.c }})
                                                    </a>
                                                    </li>
                                                {% endfor %}
                                            {% else %}
                                                <li
                                                        class="button-tag">无
                                                </li>
                                            {% endif %}

                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
{% endblock %}

{% block js %}
    <script>

        var username = $("#user_name").text();
        $(document).ready(function () {

            $.ajax({
                url: "/query_article_list/",
                type: "post",
                async: false,
                username: "{{ user.username }}",
                data: {
                    name: 'all',
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    username: username,
                },

                success: function (data) {
                    console.log(data)
                    $('#reply_form').html(data.content_html);
                    {#article_list = data#}
                }
            })
        })

        $(".author_btn").click(function () {

                var id = this.id;
                var name = this.getAttribute("name");


                $.ajax({
                    url: "/query_article_list/",
                    type: "post",
                    async: false,
                    username: "{{ user.username }}",
                    data: {
                        id: id,
                        name: name,
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                        username: username,
                    },
                    success: function (data) {
                        console.log(data)
                        $('#reply_form').html(data.content_html);
                        {#article_list = data#}
                    }
                })
            }
        )


    </script>
{% endblock %}