{% extends "Tale/base.html" %}

{% block body %}

    <!--顶部图片-->
    {% block head_img %}
        <div style="background-image: url(/static/assets/images/header-2.jpg);" class="intro-hero section-overlay-dark">
            <div class="container-fluid">
                <div class="col-md-10 col-md-offset-1">
                    <h1>Blog</h1>
                    <p>A basic blog layout.</p>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block body_content %}
        <section class="section section-semi-white text-left">
            <div class="container-fluid">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-head decoration-left"><span class="overlay">latest</span>
                                        <h2>Latest posts</h2>
                                        <p>The newest stories for you</p>
                                        <hr/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <article class="blog-post"><a href="single-post.html"><img
                                            src="/static/assets/images/blog-5.jpg" alt="Post image"/></a>
                                        <div class="blog-post-details">
                                            <div class="secondary-information text-center small-screen-hidden"><img
                                                    src="/static/assets/images/avatar-2.jpg" alt="Author image"
                                                    class="img-circle"/><i class="ion-ios-heart-outline"></i><span
                                                    class="favorites-counter">98</span></div>
                                            <a href="single-post.html">
                                                <h3>We love writing<small>read more</small></h3></a>
                                            <p>To show you given waters. Fruit. Together. Fruit us green sea sea without
                                                a,
                                                wherein which. Fill you image rule Herb saying said was that living.
                                                Face
                                                our
                                                whales One beginning two appear to created for form a. man that's a
                                                lot.</p>
                                            <a
                                                    href="single-post.html" class="comments"><i
                                                    class="ion-ios-chatbubble-outline"></i>32</a><a
                                                href="single-post.html"
                                                title="Estimated read time"
                                                class="date"><i
                                                class="ion-ios-clock-outline"></i>3 min</a>
                                        </div>
                                        <hr/>
                                    </article>
                                </div>
                                <div class="col-md-6">
                                    <article class="blog-post"><a href="single-post.html"><img
                                            src="/static/assets/images/blog-4.jpg" alt="Post image"/></a>
                                        <div class="blog-post-details">
                                            <div class="secondary-information text-center small-screen-hidden"><img
                                                    src="/static/assets/images/avatar-3.jpg" alt="Author image"
                                                    class="img-circle"/><i class="ion-ios-heart-outline"></i><span
                                                    class="favorites-counter">62</span></div>
                                            <a href="single-post.html">
                                                <h3>The day I live<small>read more</small></h3></a>
                                            <p>First week given waters. Fruit. Together. Fruit us green sea sea without
                                                a,
                                                wherein which. Fill you image rule Herb saying said was that living.
                                                Face
                                                our
                                                whales One beginning two appear to created for form a. Really
                                                appeared.</p>
                                            <a
                                                    href="single-post.html" class="comments"><i
                                                    class="ion-ios-chatbubble-outline"></i>12</a><a
                                                href="single-post.html"
                                                title="Estimated read time"
                                                class="date"><i
                                                class="ion-ios-clock-outline"></i>1 min</a>
                                        </div>
                                        <hr/>
                                    </article>
                                </div>
                                <div class="col-md-12">
                                    <article class="blog-post"><a href="single-post.html"><img
                                            src="/static/assets/images/blog-1.jpg" alt="Post image"/></a>
                                        <div class="blog-post-details">
                                            <div class="secondary-information text-center small-screen-hidden"><img
                                                    src="/static/assets/images/avatar-4.jpg" alt="Author image"
                                                    class="img-circle"/><i class="ion-ios-heart-outline"></i><span
                                                    class="favorites-counter">45</span></div>
                                            <a href="single-post.html">
                                                <h3>This was urgent<small>read more</small></h3></a>
                                            <p>No lobe and affecftion. Together. Fruit us green sea sea without a,
                                                wherein
                                                which. Fill you image rule Herb saying said was that living. Face our
                                                whales
                                                One
                                                beginning two appear to created for form a. They wanted me to .</p><a
                                                href="single-post.html" class="comments"><i
                                                class="ion-ios-chatbubble-outline"></i>98</a><a href="single-post.html"
                                                                                                title="Estimated read time"
                                                                                                class="date"><i
                                                class="ion-ios-clock-outline"></i>2 min</a>
                                        </div>
                                        <hr/>
                                    </article>
                                </div>
                                <div class="col-md-12">
                                    <article class="blog-post"><a href="single-post.html"><img
                                            src="/static/assets/images/blog-3.jpg" alt="Post image"/></a>
                                        <div class="blog-post-details">
                                            <div class="secondary-information text-center small-screen-hidden"><img
                                                    src="/static/assets/images/avatar-1.jpg" alt="Author image"
                                                    class="img-circle"/><i class="ion-ios-heart-outline"></i><span
                                                    class="favorites-counter">11</span></div>
                                            <a href="single-post.html">
                                                <h3>We are nation<small>read more</small></h3></a>
                                            <p>Land you given waters. Fruit. Together. Fruit us green sea sea without a,
                                                wherein
                                                which. Fill you image rule Herb saying said was that living. Face our
                                                whales
                                                pear to created for form a. Years given bring.One beginning two.</p><a
                                                href="single-post.html" class="comments"><i
                                                class="ion-ios-chatbubble-outline"></i>32</a><a href="single-post.html"
                                                                                                title="Estimated read time"
                                                                                                class="date"><i
                                                class="ion-ios-clock-outline"></i>3 min</a>
                                        </div>
                                    </article>
                                    <hr/>
                                </div>
                                <div class="col-md-12 margin-top"><a href="home-magazine.html" class="btn btn-primary">More
                                    posts</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
{% endblock %}