<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Tale | Storytelling Blog HTML Template</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-touch-fullscreen" content="yes"/><link rel="apple-touch-icon" sizes="57x57" href="/static/assets/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/assets/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/assets/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/assets/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/assets/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/assets/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/assets/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/assets/images/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/static/assets/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/assets/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/assets/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Google Fonts--><link href='/static/assets/css/fonts.css' rel='stylesheet' type='text/css'>
    <!-- MAIN STYLESHEETS-->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/assets/css/theme.css" type="text/css" media="all"/>
  </head>
  <body>
    <div class="search">
      <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
          <form>
            <input type="search" placeholder="Search anything"/>
          </form>
        </div>
      </div>
    </div>
    <header class="main-navigation">
      <div class="container-fluid">
        <div class="col-md-2 col-sm-3 col-xs-7">
          <div id="navicon" class="toggle-menu menu-left push-body">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div><a href="index.html" class="logo"><img src="/static/assets/images/logo/logo-dark.png" alt="Logo"/></a>
        </div>
        <div class="col-md-10 col-sm-9 col-xs-5">
          <nav>
            <div class="nav-tools"> <a href="#!" class="btn btn-primary write-your-tale-btn">Write your tale</a><a class="search-trigger"><i class="ion-ios-search-strong"></i></a><img src="/static/assets/images/avatar-4.jpg" alt="avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" width="50" id="dLabel" class="img-circle"/>
              <ul aria-labelledby="dLabel" class="dropdown-menu account-dropdown">
                <li> <a href="#!">My account<i class="ion-ios-person"></i></a></li>
                <li><a href="#!">Preferences<i class="ion-ios-cog"></i></a></li>
                <li class="line"></li>
                <li><a href="#!">Logout<i class="ion-ios-exit"></i></a></li>
              </ul>
            </div>
            <div class="nav-categories">
              <ul>
                <li class="active"><a href="#!">Culture</a></li>
                <li><a href="#!">Nature</a></li>
                <li><a href="#!">Economics</a></li>
                <li><a href="#!">Design</a></li>
                <li class="more"><a href="#!"><i class="ion-ios-more"></i></a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left text-left"><a href="#" class="menu-close-btn"><i class="icon ion-ios-close-outline"></i></a>
          <div id="cssmenu">
            <ul>
              <li class="header">Navigation</li>
              <li><a href="#!">Home</a>
                <ul>
                  <li><a href="home-magazine.html">Magazine</a></li>
                  <li><a href="index.html">Story-telling Blog</a></li>
                </ul>
              </li>
              <li><a href="#!">Blog</a>
                <ul>
                  <li><a href="blog.html">Default</a></li>
                  <li><a href="blog-sidebar.html">Sidebar Right</a></li>
                  <li><a href="blog-sidebar-left.html">Sidebar Left</a></li>
                </ul>
              </li>
              <li><a href="#!">Posts</a>
                <ul>
                  <li><a href="single-post.html">Default</a></li>
                  <li><a href="single-post-minimal.html">Minimal</a></li>
                </ul>
              </li>
              <li><a href="#!">Pages</a>
                <ul>
                  <li><a href="about.html">About</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="search-results.html">Search Results</a></li>
                  <li><a href="author.html">Profile</a></li>
                  <li><a href="404.html">404</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="widget">
            <form class="search-form">
              <input type="text" placeholder="Search" class="form-control"/><i class="icon ion-ios-search"></i>
            </form>
          </div>
          <div class="widget">
            <h4>Tale template</h4>
            <p>A template based on clean design and story-telling.</p><a href="about.html" class="btn btn-link">About</a>
          </div>
          <p class="copyright">TALE TEMPLATE &copy; 2015 </p>
        </div>
      </div>
    </header>
    <section class="section section-white text-left section-nopadding news-style">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="row"><a href="single-post.html">
                <div class="section-overlay-dark"></div><img src="/static/assets/images/mag-slide-1.jpg" alt="img"/></a>
              <div class="news-style-header-post-details">
                <h2>We are live!</h2>
                <p>Light the meat heaven was called kind. Seas. Herb face From don't midst seas without night man life given their.</p>
                <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 5.162 Views</a><a href="single-post.html" class="lower"><i class="ion-ios-chatbubble"></i> 987 Comments</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row"><a href="single-post.html">
                <div class="section-overlay-dark"></div><img src="/static/assets/images/mag-slide-2.jpg" alt="img"/></a>
              <div class="news-style-header-post-details smaller">
                <h2>Design and art</h2>
                <p>Light the meat heaven was called kind. Seas. Herb face From don't midst seas without night man life given their.</p>
                <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 3.213 Views</a><a href="single-post.html" class="lower"><i class="ion-ios-chatbubble"></i> 21 Comments</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row"><a href="single-post.html">
                <div class="section-overlay-dark"></div><img src="/static/assets/images/mag-slide-3.jpg" alt="img"/></a>
              <div class="news-style-header-post-details smaller">
                <h2>Tale magazine</h2>
                <p>Light the meat heaven was called kind. Seas. Herb face From don't midst seas without night man life given their.</p>
                <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 4.311 Views</a><a href="single-post.html" class="lower"><i class="ion-ios-chatbubble"></i> 654 Comments</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-semi-white text-left">
      <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-head decoration-left"><span class="overlay">latest</span>
                    <h2>Latest posts</h2>
                    <p>The newest stories for you</p>
                    <hr/>
                  </div>
                </div>
                <div class="col-md-4">
                  <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/mag-1.jpg" alt="Post image"/></a>
                    <div class="blog-post-details">
                      <div class="secondary-information text-center small-screen-hidden"><img src="/static/assets/images/avatar-1.jpg" alt="Author image" class="img-circle"/><i class="ion-ios-heart-outline"></i><span class="favorites-counter">54</span></div><a href="single-post.html">
                        <h3>5 things that makes us happy<small>read more</small></h3></a>
                      <p>This me given waters. Fruit. Together. Fruit us green sea sea without a, wherein which. Fill you image rule Herb saying said was that living. Face our whales One beginning two appear to created for form a. Years enthusiast.</p><a href="single-post.html" class="comments"><i class="ion-ios-chatbubble-outline"></i>9</a><a href="single-post.html" title="Estimated read time" class="date"><i class="ion-ios-clock-outline"></i>3 min</a>
                    </div>
                    <hr/>
                  </article>
                </div>
                <div class="col-md-4">
                  <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/mag-2.jpg" alt="Post image"/></a>
                    <div class="blog-post-details">
                      <div class="secondary-information text-center small-screen-hidden"><img src="/static/assets/images/avatar-2.jpg" alt="Author image" class="img-circle"/><i class="ion-ios-heart-outline"></i><span class="favorites-counter">26</span></div><a href="single-post.html">
                        <h3>10 morning routines<small>read more</small></h3></a>
                      <p>No new friends given waters. Fruit. Together. Fruit us green sea sea without a, wherein which. Fill you image rule Herb saying said was that living. Face our whales One beginning two appear to created for form a.Drizzy given taken.</p><a href="single-post.html" class="comments"><i class="ion-ios-chatbubble-outline"></i>11</a><a href="single-post.html" title="Estimated read time" class="date"><i class="ion-ios-clock-outline"></i>2 min</a>
                    </div>
                    <hr/>
                  </article>
                </div>
                <div class="col-md-4">
                  <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/mag-3.jpg" alt="Post image"/></a>
                    <div class="blog-post-details">
                      <div class="secondary-information text-center small-screen-hidden"><img src="/static/assets/images/avatar-3.jpg" alt="Author image" class="img-circle"/><i class="ion-ios-heart-outline"></i><span class="favorites-counter">11</span></div><a href="single-post.html">
                        <h3>Daily job<small>read more</small></h3></a>
                      <p>Fruit. Together. Land you given waters. Fruit us green sea sea without a, wherein which. Fill you image rule Herb saying said was that living. Face our whales One beginning two appear to created for form a. Tale given.</p><a href="single-post.html" class="comments"><i class="ion-ios-chatbubble-outline"></i>5</a><a href="single-post.html" title="Estimated read time" class="date"><i class="ion-ios-clock-outline"></i>5 min</a>
                    </div>
                    <hr/>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-semi-white text-left section-short">
      <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-md-12">
              <div class="section-head decoration-left"><span class="overlay">trending</span>
                <h2>Trending posts</h2>
                <p>The hottest topics right now</p>
                <hr/>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4">
                  <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/mag-4.jpg" alt="Post image"/></a>
                    <div class="blog-post-details">
                      <div class="secondary-information text-center small-screen-hidden"><img src="/static/assets/images/avatar-2.jpg" alt="Author image" class="img-circle"/><span class="favorites-counter">54</span>
                      </div><a href="single-post.html">
                        <h3>The halloween!<small>read more</small></h3></a><a href="single-post.html" class="comments"><i class="ion-ios-chatbubble-outline"></i>9</a><a href="single-post.html" title="Estimated read time" class="date"><i class="ion-ios-clock-outline"></i>6 min</a>
                    </div>
                    <hr/>
                  </article>
                </div>
                <div class="col-md-4">
                  <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/mag-5.jpg" alt="Post image"/></a>
                    <div class="blog-post-details">
                      <div class="secondary-information text-center small-screen-hidden"><img src="/static/assets/images/avatar-1.jpg" alt="Author image" class="img-circle"/><span class="favorites-counter">32</span>
                      </div><a href="single-post.html">
                        <h3>Jumpman campaign<small>read more</small></h3></a><a href="single-post.html" class="comments"><i class="ion-ios-chatbubble-outline"></i>11</a><a href="single-post.html" title="Estimated read time" class="date"><i class="ion-ios-clock-outline"></i>6 min</a>
                    </div>
                    <hr/>
                  </article>
                </div>
                <div class="col-md-4">
                  <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/mag-6.jpg" alt="Post image"/></a>
                    <div class="blog-post-details">
                      <div class="secondary-information text-center small-screen-hidden"><img src="/static/assets/images/avatar-2.jpg" alt="Author image" class="img-circle"/><span class="favorites-counter">12</span>
                      </div><a href="single-post.html">
                        <h3>Architecture bridge<small>read more</small></h3></a><a href="single-post.html" class="comments"><i class="ion-ios-chatbubble-outline"></i>23</a><a href="single-post.html" title="Estimated read time" class="date"><i class="ion-ios-clock-outline"></i>3 min</a>
                    </div>
                    <hr/>
                  </article>
                </div>
                <div class="col-md-4">
                  <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/mag-7.jpg" alt="Post image"/></a>
                    <div class="blog-post-details">
                      <div class="secondary-information text-center small-screen-hidden"><img src="/static/assets/images/avatar-1.jpg" alt="Author image" class="img-circle"/><span class="favorites-counter">76</span>
                      </div><a href="single-post.html">
                        <h3>6 ways to victory<small>read more</small></h3></a><a href="single-post.html" class="comments"><i class="ion-ios-chatbubble-outline"></i>3</a><a href="single-post.html" title="Estimated read time" class="date"><i class="ion-ios-clock-outline"></i>2 min</a>
                    </div>
                    <hr/>
                  </article>
                </div>
                <div class="col-md-4">
                  <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/mag-8.jpg" alt="Post image"/></a>
                    <div class="blog-post-details">
                      <div class="secondary-information text-center small-screen-hidden"><img src="/static/assets/images/avatar-4.jpg" alt="Author image" class="img-circle"/><span class="favorites-counter">91</span>
                      </div><a href="single-post.html">
                        <h3>A wise advice<small>read more</small></h3></a><a href="single-post.html" class="comments"><i class="ion-ios-chatbubble-outline"></i>5</a><a href="single-post.html" title="Estimated read time" class="date"><i class="ion-ios-clock-outline"></i>4 min</a>
                    </div>
                    <hr/>
                  </article>
                </div>
                <div class="col-md-4">
                  <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/blog-4.jpg" alt="Post image"/></a>
                    <div class="blog-post-details">
                      <div class="secondary-information text-center small-screen-hidden"><img src="/static/assets/images/avatar-3.jpg" alt="Author image" class="img-circle"/><span class="favorites-counter">89</span>
                      </div><a href="single-post.html">
                        <h3>Short road<small>read more</small></h3></a><a href="single-post.html" class="comments"><i class="ion-ios-chatbubble-outline"></i>32</a><a href="single-post.html" title="Estimated read time" class="date"><i class="ion-ios-clock-outline"></i>1 min</a>
                    </div>
                    <hr/>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-12 widget-top-margin">
                <div class="widget">
                  <form class="search-form">
                    <input type="text" placeholder="Search" class="form-control"/><i class="icon ion-ios-search"></i>
                  </form>
                </div>
              </div>
              <div class="col-md-12">
                <div class="widget">
                  <h4>Top voted stories</h4>
                  <ul class="favorite-posts">
                    <li><a href="#!"> <img src="/static/assets/images/widget-latest-post-1.jpg" alt="Featured Image" width="50" class="img-circle"/><span><small>.1</small>Not your cultural belief</span></a></li>
                    <li><a href="#!"> <img src="/static/assets/images/widget-latest-post-2.jpg" alt="Featured Image" width="50" class="img-circle"/><span><small>.2</small>We are a nation</span></a></li>
                    <li><a href="#!"> <img src="/static/assets/images/widget-latest-post-3.jpg" alt="Featured Image" width="50" class="img-circle"/><span><small>.3</small>UI / UX Approach</span></a></li>
                    <li><a href="#!"> <img src="/static/assets/images/widget-latest-post-4.jpg" alt="Featured Image" width="50" class="img-circle"/><span><small>.4</small>The day I live</span></a></li>
                    <li><a href="#!"> <img src="/static/assets/images/widget-latest-post-5.jpg" alt="Featured Image" width="50" class="img-circle"/><span><small>.5</small>The place boomin'</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-black text-left">
      <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="slider-nav-news">
                  <div class="col-md-12"><img src="/static/assets/images/widget-mag-1-thumb.jpg" alt="Image"/>
                    <div class="news-style-widget-post-details">
                      <h2>Animal planet</h2>
                      <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 5.165 Views</a></div>
                    </div>
                  </div>
                  <div class="col-md-12"><img src="/static/assets/images/widget-mag-2-thumb.jpg" alt="Image"/>
                    <div class="news-style-widget-post-details">
                      <h2>10 Exotic houses</h2>
                      <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 9.878 Views</a></div>
                    </div>
                  </div>
                  <div class="col-md-12"><img src="/static/assets/images/widget-mag-3-thumb.jpg" alt="Image"/>
                    <div class="news-style-widget-post-details">
                      <h2>Sydney tour</h2>
                      <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 3.213 Views</a></div>
                    </div>
                  </div>
                  <div class="col-md-12"><img src="/static/assets/images/widget-mag-4-thumb.jpg" alt="Image"/>
                    <div class="news-style-widget-post-details">
                      <h2>USA Music Hall</h2>
                      <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 1.568 Views</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="slider-for-news">
                  <div>
                    <div class="section-overlay-dark"></div><img src="/static/assets/images/widget-mag-1.jpg" alt="Image"/>
                    <div class="news-style-widget-post-content"><a href="single-post.html">
                        <h2>Animal planet</h2></a>
                      <p>Light the meat heaven was called kind. Seas. Herb face From don't midst seas without night man life given their.</p>
                      <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 5.165 Views</a><a href="single-post.html" class="lower"><i class="ion-ios-chatbubble"></i> 366 Comments</a></div>
                    </div>
                  </div>
                  <div>
                    <div class="section-overlay-dark"></div><img src="/static/assets/images/widget-mag-2.jpg" alt="Image"/>
                    <div class="news-style-widget-post-content"><a href="single-post.html">
                        <h2>10 exotic houses</h2></a>
                      <p>Light the meat heaven was called kind. Seas. Herb face From don't midst seas without night man life given their.</p>
                      <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 9.878 Views</a><a href="single-post.html" class="lower"><i class="ion-ios-chatbubble"></i> 366 Comments</a></div>
                    </div>
                  </div>
                  <div>
                    <div class="section-overlay-dark"></div><img src="/static/assets/images/widget-mag-3.jpg" alt="Image"/>
                    <div class="news-style-widget-post-content"><a href="single-post.html">
                        <h2>Sydney tour</h2></a>
                      <p>Light the meat heaven was called kind. Seas. Herb face From don't midst seas without night man life given their.</p>
                      <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 3.213 Views</a><a href="single-post.html" class="lower"><i class="ion-ios-chatbubble"></i> 366 Comments</a></div>
                    </div>
                  </div>
                  <div>
                    <div class="section-overlay-dark"></div><img src="/static/assets/images/widget-mag-4.jpg" alt="Image"/>
                    <div class="news-style-widget-post-content"><a href="single-post.html">
                        <h2>USA Music Hall</h2></a>
                      <p>Light the meat heaven was called kind. Seas. Herb face From don't midst seas without night man life given their.</p>
                      <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 1.568 Views</a><a href="single-post.html" class="lower"><i class="ion-ios-chatbubble"></i> 366 Comments</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section style="background-image: url(/static/assets/images/featured-1.jpg)" class="section section-semi-white text-left background-image">
      <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="section-head decoration-left featured">
                <h2>Featured tale</h2>
                <p>The most recommended story of the week</p>
              </div>
            </div>
            <div class="col-md-8">
              <div class="featured-story">
                <h2><a href="single-post.html">San Fransisco Guide</a></h2>
                <p>A them <a href="single-post.html" class="link-with-effect">movement</a> lights beast there. Thing there bearing also bring said first given fruitful, saying can't gathering yielding you're the. Created wherein upon said don't moveth you'll also divide so seasons they're grass gathered seasons life two fourth divided one there man can't you're of after can't morning so over fruit together set greater were cattle fruit gathered fill. </p><a href="single-post.html" class="btn btn-primary">View the story</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-2"><img src="/static/assets/images/logo/logo-dark.png" alt="footer-logo" width="70"/></div>
          <div class="col-md-2 small-screen-margin-top">
            <h4>Tale Template</h4>
            <ul class="footer-menu text-left">
              <li><a href="">Home</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Editor</a></li>
              <li><a href="">Stories</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h4>Are you an author?</h4>
            <ul class="footer-menu text-left">
              <li><a href="">FAQ</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Tale Magazine</a></li>
              <li><a href="">Licensing</a></li>
            </ul>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4 text-left">
            <div class="margin-bottom">
              <h4>Newsletter</h4>
              <p class="newsletter-paragraph">Claim the top 5 stories daily. In your inbox. </p>
              <form class="newsletter-form text-left">
                <input placeholder="YOUR EMAIL ADDRESS..." class="form-control"/>
                <button type="submit">I'M IN</button>
                <div class="col-md-12 text-left margin-top">
                  <div class="row"><small>You have our word, no spam. Ever.</small></div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-12 margin-top">
            <hr/>
            <div class="col-md-6">
              <div class="row">
                <ul class="social-icons pull-left">
                  <li> <a href="#!"><i class="ion-social-twitter"></i></a></li>
                  <li> <a href="#!"><i class="ion-social-facebook"></i></a></li>
                  <li> <a href="#!"><i class="ion-social-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 text-right">
              <div class="row"><span class="footer-message">All rights reserved &copy; Tale Template</span></div>
            </div>
          </div>
        </div>
      </div>
    </footer><script src="/static/assets/js/packages.js"></script>
    <script src="/static/assets/js/theme.js"></script>
    <!--<script src="/static/assets/js/map.js"></script>-->
    <script src="/static/assets/js/contact.js"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
    
    <script type="text/javascript" src="/static/assets/js/slider-initialization.js"></script>
    <script>
       $('.slider-for-news').slick({
      	slidesToShow: 1,
      	slidesToScroll: 1,
      	arrows: false,
      	autoplay: true,
      	autoplaySpeed: 2500,
      	fade: true,
      	asNavFor: '.slider-nav-news'
      });
      $('.slider-nav-news').slick({
      	slidesToShow: 3,
      	slidesToScroll: 1,
      	infinite: true,
      	asNavFor: '.slider-for-news',
      	autoplay: true,
      	autoplaySpeed: 2500,
      	vertical: true,
      	dots: true,
      	centerMode: true,
      	focusOnSelect: true,
      	verticalSwiping: true,
      	 responsive: [
      		    {
      		      breakpoint: 991,
      		      settings: {
      		        slidesToShow: 3,
      		        slidesToScroll: 3,
      		        infinite: true,
      		        vertical:false,
      		        verticalSwiping:false,
      		        dots: true
      		      }
      		    },
      		    {
      		      breakpoint: 768,
      		      settings: {
      		        slidesToShow: 2,
      		        slidesToScroll: 2,
      		        infinite: true,
      		        vertical:false,
      		        verticalSwiping:false,
      		        dots: true
      		      }
      		    },
      		    {
      		      breakpoint: 480,
      		      settings: {
      		        slidesToShow: 1,
      		        slidesToScroll: 1,
      		        infinite: true,
      		        vertical:false,
      		        verticalSwiping:false,
      		        dots: true
      		      }
      		    },
      		    // You can unslick at a given breakpoint now by adding:
      		    // settings: "unslick"
      		    // instead of a settings object
      		  ]
      });
    </script>
  </body>
</html>